<%= content_for :meta_title, "Yourdomain - Your Meta" %>

<section >
  <%= render 'shared/banner' %>
 
  <div class="container margin-top-3 mb-2">
    <div class="row mt-5">
      <div class="col-md-10 mt-5 mb-5">
        <h2>Expertise</h2>
        <p class="content mt-4">Je réalise depuis 3 ans des outils sur-mesure à destination d'entreprises de toutes tailles. 
          Je transforme chaque besoin de nos clients en solution numériques, en garantissant le respect de leurs
          règles métiers.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-2 mt-2">
        <%= render 'shared/tabs' %>
        <div class="col-12 col-xl-10">
          <%= render 'shared/panel' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-md-10 mt-5 mb-5">
        <h2 class="confiance">Ils m'ont fait confiance</h2>
        <p class="content"> Je réalise au quotidien des projets pour des startups, PME, éditeurs de logiciels
          et grands comptes français et européens. 
        </p>
      </div>
    </div>
    <%= render 'shared/wrapper-client' %>
  </div>
  
</section>
